$text-dark:rgba(0, 0, 0, 0.779);
$text-first:rgba(0,0,0,.56);
$text-secondry:gray;
$text-third:rgba(128, 128, 128, 0.388);
$font-size-medium:14px;
$font-size-small:12px;

%margin-right{
    margin-right:38px;
}
@font-face {
    font-family:yekan;
    src: url(../../assets/fonts/iranyekanwebregular.woff2);
}
*{
    margin:0;
    padding: o;
    box-sizing: border-box;
    font-family:yekan;
}
.fontAwesome {
    font-family: yekan, 'FontAwesome';
}

.card{
    // border:1px solid lightgray;

    border: {
        radius:5px;
        width: 1px;
        style:solid;
        color:lightgray;
    };
    .card__body {
        padding:5px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        figure{
            padding: 0;
            margin: 0;
            img{
                border-radius:5px;
                width:136px;
                height:136px;
            }
        }
    }
    .card__details{
        display: flex;
        flex-direction: column;
        .card__title{
            flex-wrap:1;
            font-size:18px;
            font-weight:600;
        }
        .card__price{
            color:$text-dark;
        }
        .card__auther{
            color:$text-secondry;
        }
    }
}
.cardList{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
}
a{
    text-decoration: none;
}
.navbar{
    font-size: $font-size-medium;
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:60px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    color: $text-first;
    .right_side{
        display: flex;
        // justify-content:flex-start;
        align-items: center;
        width:60%;
        @extend %margin-right;
        // .logo{
        //     @extend %margin-right;
        // }
        // .location{
        //     @extend %margin-right;
        // }
        .category, .location, .logo{
            @extend %margin-right;
            display: flex;
            align-items: center;
        }
        .input_search{
            @extend %margin-right;
        }
        .location_link{
            color:$text-first;
        }
        .input_search input[type=text]{
            width:450px;
            padding:10px;
            border-radius:3px;
            background-color: rgba(220, 220, 220, 0.307);
            border: none;
            color: $text-first;
        }
    }
    .left_side{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width:30%;
        .divarman, .chat, .support{
            display: flex;
            align-items: center;
        }
        .btn-advertisment{
            background-color:#a62626;
            border-radius:6px;
            padding:12px;
            font-size:12px;
            .link-advertisment{
                color: white;
                font-weight:700;
            }
        }
    }   
}
ul{
    list-style-type:none;
}
.border-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.297);
    // margin-top: 10px;
}
.sidebar{
    width:20%;
    // background-color: aqua; 
    position: fixed;
    top:60px;
    padding-top:25px;
    .sidebar__firstsection{
        // padding-bottom: 20px;
        h5{
            padding:12px 50px;
            color: $text-first;
        }
    }
    .sidebar__items{
        display:flex;
        flex-direction: column;
        gap: 5px;
        font-size: $font-size-medium;
        color: $text-first;
        .sideitem{
            display: flex;
            padding:8px;
            align-items: center;
        }
    }
    .sidebar_secondsection{
        .sideitem{
            color:black;
            font-size: $font-size-medium;
            padding:15px;
        }
    }
}
