<div class="cardList">
    <article class="card">
        <div class="card__body">
            <figure>
                <img src="../assets/images/AYfUDNWy.webp" alt="">
            </figure>
            <div class="card__details">
                <div class="card__title">مبل راحت و زیبا</div>
                <div class="card__price">20000000</div>
                <div class="card__auther">فروشگاه مبلمان سارینا</div>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="card__body">
            <figure>
                <img src="../assets/images/AYfUDNWy.webp" alt="">
            </figure>
            <div class="card__details">
                <div class="card__title">مبل راحت و زیبا</div>
                <div class="card__price">20000000</div>
                <div class="card__auther">فروشگاه مبلمان سارینا</div>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="card__body">
            <figure>
                <img src="../assets/images/AYfUDNWy.webp" alt="">
            </figure>
            <div class="card__details">
                <div class="card__title">مبل راحت و زیبا</div>
                <div class="card__price">20000000</div>
                <div class="card__auther">فروشگاه مبلمان سارینا</div>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="card__body">
            <figure>
                <img src="../assets/images/AYfUDNWy.webp" alt="">
            </figure>
            <div class="card__details">
                <div class="card__title">مبل راحت و زیبا</div>
                <div class="card__price">20000000</div>
                <div class="card__auther">فروشگاه مبلمان سارینا</div>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="card__body">
            <figure>
                <img src="../assets/images/AYfUDNWy.webp" alt="">
            </figure>
            <div class="card__details">
                <div class="card__title">مبل راحت و زیبا</div>
                <div class="card__price">20000000</div>
                <div class="card__auther">فروشگاه مبلمان سارینا</div>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="card__body">
            <figure>
                <img src="../assets/images/AYfUDNWy.webp" alt="">
            </figure>
            <div class="card__details">
                <div class="card__title">مبل راحت و زیبا</div>
                <div class="card__price">20000000</div>
                <div class="card__auther">فروشگاه مبلمان سارینا</div>
            </div>
        </div>
    </article>
</div>