<div class="sidebar">
    <div class="sidebar__firstsection">
        <h5>دسته ها</h5>    
        <ul class="sidebar__items">
            <li class="sideitem">
                <iconify-icon icon="ant-design:home-outlined" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>املاک</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="ph:car" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>وسایل نقلیه</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="bi:phone" style="color: rgba(0, 0, 0, 0.56);" width="20" height="20"></iconify-icon>
                <span>کالای دیجیتال</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="iconoir:small-lamp" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>خانه و آشپزخانه</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="fluent:paint-brush-24-regular" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>خدمات</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="ep:watch" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>وسایل شخصی</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="bi:dice-2" style="color: rgba(0, 0, 0, 0.56);" width="16" height="16"></iconify-icon>
                <span>سرگرمی و فراغت</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="carbon:user-profile" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>اجتماعی</span>
            </li>
            <li class="sideitem">
                <iconify-icon icon="fluent-emoji-high-contrast:chair" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>تجهیزات و صنعتی</span>
            </li>
            <li class="sideitem border-bottom">
                <iconify-icon icon="bx:briefcase-alt-2" style="color: rgba(0, 0, 0, 0.56);" width="18" height="18"></iconify-icon>
                <span>استخدام و کاریابی</span>
            </li>
        </ul>
    </div>
    <div class="sidebar_secondsection">
        <ul class="sidebar__items">
            <li class="sideitem border-bottom">
                <iconify-icon inline icon="eva:arrow-ios-upward-outline" style="color: rgba(0, 0, 0, 0.56);" width="20" height="20" rotate="180deg"></iconify-icon>
                <span>محل</span>
            </li>
            <li class="sideitem border-bottom">
                <iconify-icon inline icon="eva:arrow-ios-upward-outline" style="color: rgba(0, 0, 0, 0.56);" width="20" height="20" rotate="180deg"></iconify-icon>
                <span>قیمت</span>
            </li>
            <li class="sideitem">
                <iconify-icon inline icon="eva:arrow-ios-upward-outline" style="color: rgba(0, 0, 0, 0.56);" width="20" height="20" rotate="180deg"></iconify-icon>
                <span>وضعیت آگهی</span>
            </li>
        </ul>
    </div>
</div>